$vista: mobile;
$color-background: rgb(250, 249, 246);
$menu-color-background: rgb(12, 12, 12);
$paleta-marte-blanco: #F3F7EB;
$paleta-marte-rojo: #B20820;
$paleta-marte-amarillo: #F7AA43;
$paleta-marte-turquesa: #379388;
$paleta-marte-violeta: #463051;
$video-width: 720px;
$video-height: 480px;