*{
    padding: 5;
    margin: 5;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #eee
    /*    background-color: #F7AA43*/
}
html{
    height:100%;
  }
body{
    height:100%;
    padding-bottom:60px; 
  }
section {
    height: 100%;
  }
p {
    margin-bottom: 20px;
}
h1 {
    color: #B20820 ;
    font-style: italic;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 5px;
    font-family: "Roboto-Black",
    sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}
h2 {
    color: gray;
    font-style: italic;
    font-size:x-large;
    font-family: "Roboto",
    sans-serif;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
}
h3 {
    color: black;
    font-size: small;
    font-family: "Montserrat";
    text-align: left;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
    float: none;
}
.menulist {
    display: inline;
    font-family: "Montserrat";
    font-style:italic ;
    font-size: larger;
    margin-top: 70px;
    margin-right: 10px;
    margin-bottom: 70px;
    margin: 10px;
}
.list {
    padding: 5px;
    width: 80%;
    margin-left: 20px;
    float: none;
    font-family: "Montserrat";
}
.form {
    padding: 5px;
    width: 30%;
    margin-left: 10%;
    float: left;
    font-family: "Montserrat";
    background-image: url(/assets/img/abstract-white-modern-background-with-gold-and-black-stars-illustration-free-vector.jpg);
    width: 550px;
    height: 200px;
    padding-bottom: 10px;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-style: groove;
}
    .form.formoption {
        width: 20%;
        height: 5%;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 5px;
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    #terminos {
        padding: 5px;
        width: 80%;
        margin-left: 10%;
        float: left;
        font-family: "Montserrat";
    }
    #enviar {
        padding: 15px;
        width: 80%;
        margin-left: 10%;
        float: left;
}
.clientes {
    padding: 5px;
    width: 80%;
    margin-left: 10%;
    float: left;
    font-family: "Montserrat";  
}

.bloque {
    width: 500px;
    height: 150px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-style: dotted;
    font-family: "Montserrat";
}
.bloqueservicios {
    width: 600px;
    height: 300px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-style: dotted;
    font-family: "Montserrat";
    font-size: x-small;
    text-align: right
}
#main1
{
    width: 800px;
    height: 200px;
}   
#main
{
    width: 800px;
    height: 600px;
}
.bloqueindex {
    width: 600px;
    height: 300px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-style: dotted;
    font-family: "Montserrat";
    font-size: x-small;
    text-align: right
}
.indeximages
{
    width: 600px;
    height: 600px;
    list-style: none;
    margin: 0 auto; padding: 0;
    float: left;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
    .indeximages li
    {    
        float: left;
        margin: 10px; padding: 0;
        display: inline;

    }
        .imgindex1 {
            width: 250px;
            height: 250px;
            left: 0%; position: relative
            
        }    
        .imgindex2 {
            width: 250px;
            height: 250px;
            left: 25%; position: relative
        }  
        .imgindex3 {
            width: 250px;
            height: 250px;
            left: 0%; position: relative
        }  
        .imgindex4 {
            width: 250px;
            height: 250px;
            left: 25%; position: relative
        } 
.imagenesserv {
    width: 250px;
    height: 250px;
}
ul {
    list-style-type: none;
}
/*-->.footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    float: none;
    text-align: center;
    font-family: "Montserrat";
}<--*/
@font-face {
    font-family: "Roboto-Black";
    src: url(/assets/fonts/Roboto/Roboto-Black.ttf);
}
p {
    font-family: "Roboto";
    src: url(/assets/fonts/Roboto/Roboto-Regular.ttf);
}
.pharagraph {
    font-family: "Montserrat";
    src: url(/assets/fonts/Montserrat/Montserrat-Regular.ttf);
}
#carouselExampleControls {
    position: relative;
    left: 0;
    bottom: 0;
    padding: 5px 0;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.clientstable {
    height: 600px;
    background-image: linear-gradient(to left, red, yellow);
}
#card-h-100 {
    height: 100%;
    background-image: linear-gradient(to left, red, yellow);
    transition: height 2s;
    hover-overlay hover-zoom hover-shadow ripple
}
#card-h-100:hover {
    height: 150%;
    
}
.card {
    width: 280px;
    height: 520px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    overflow: hidden
}

.card .backgroundEffect {
    bottom: 0;
    height: 0px;
    width: 100%
}

.card:hover {
    color: #fff;
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
}

.card:hover .backgroundEffect {
    bottom: 0;
    height: 320px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: #e3821b;
    animation: popBackground 0.3s ease-in
}

@keyframes popBackground {
    0% {
        height: 20px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%
    }

    50% {
        height: 80px;
        border-top-left-radius: 75%;
        border-top-right-radius: 75%
    }

    75% {
        height: 160px;
        border-top-left-radius: 85%;
        border-top-right-radius: 85%
    }

    100% {
        height: 320px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%
    }
}

.card .pic {
    position: relative
}

.card .pic img {
    width: 100%;
    height: 280px;
    object-fit: cover
}

.card .text-muted {
    font-size: 12px
}

.card:hover .text-muted {
    color: #fff !important
}

.card .content {
    padding: 0 20px
}

.card .content .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: #eaa352;
    border-radius: 25px;
    font-size: 12px;
    border: none
}

.card:hover .content .btn {
    background: #fff;
    color: #f18b32;
    box-shadow: #0000001a 0px 3px 5px
}

.card .content .btn .fas {
    font-size: 10px;
    padding-left: 5px
}
